@{
    ViewBag.Title = "Home Page";
}

<li>
    <a href="#">
        <span class="day_name">I think be a good idea for us to...</span>&nbsp; 1:00 am.
        <label class="digits">12<i><img src="/images/sun_icon1.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>
<li>
    <a href="#">
        <span class="day_name">I really think that we should jump on the Jordan's mom bandwagon.</span> 2:03 am.
        <label class="digits"> 2 <i><img src="/images/clouds.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>
<li>
    <a href="#">
        <span class="day_name">I really like to eat cake, so I think that we should force people..</span>
        <label class="digits"> 2<i><img src="/images/clouds.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>
<li>
    <a href="#">
        <span class="day_name">It is far better to dare mighty brainstorms and give the brainstorm team all of your money, then it is to not give them anything.</span>&nbsp; 02/07
        <label class="digits">15 <i><img src="/images/sun_icon1.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>
<li>
    <a href="#">
        <span class="day_name">I think we should...Eat Cake Foo.</span>&nbsp; 5:39 am.
        <label class="digits"> 34<i><img src="/images/sun_icon2.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>
<li>
    <a href="#">
        <span class="day_name">I think we should...</span>
        <label class="digits">112 <i><img src="/images/sun_icon2.png" alt="" /></i></label><div class="clear"></div>
    </a>
</li>